:root {
    --btn-border-radius: 6px;
    --btn-padding: 4px 16px 8px 16px;
    --btn-border-width: 6px;
    --btn-border-hover-width: 3px;
    --btn-box-shadow-inset: 0 2px 0 0;
    --btn-color-text: var(--monochrome-1, #FFF);
    --btn-color-bg: var(--monochrome-8, #000);
}

/* Common styles for all buttons */
.button-wrapper {
    background: var(--btn-color-bg, #000);
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    display: flex;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    transform-origin: bottom;
    transition: all var(--transition-time, 0.3s ease);
    user-select: none;
    width: fit-content;
}

.button-wrapper:hover {
    transform: scale(98%);
}

.button-span {
    align-items: center;
    background: var(--btn-bg-color);
    border-radius: calc(var(--btn-border-radius) - 2px);
    box-shadow: var(--btn-box-shadow-inset) var(--btn-box-shadow-color) inset;
    color: var(--btn-color-text, #FFF);
    display: flex;
    gap: 4px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: var(--btn-padding);
    position: relative;
    transition: background var(--transition-time, 0.3s ease);
    width: 100%;
}

/* Pseudo element for bottom border */
.button-span::after {
    background-color: var(--btn-border-color);
    bottom: 0;
    content: '';
    height: var(--btn-border-width);
    left: 0;
    position: absolute;
    right: 0;
    transition: height var(--transition-time, 0.3s ease);
}

.button-span:hover::after {
    height: var(--btn-border-hover-width);
}

.button-span:hover {
    background: var(--btn-hover-bg-color);
}

.button-span:active {
    background: var(--btn-hover-bg-color);
}

.link {
    --btn-border-radius: 0;
    --btn-padding: 14px 14px 14px 14px;
    --btn-color-text: var(--monochrome-8, #000);
}

.default {
    --btn-padding: 12px 12px 12px 12px;
    --btn-border-color: var(--beige-3, #AE8C56);
    --btn-bg-color: var(--beige-6, #EAD1AA);
    --btn-box-shadow-color: var(--beige-9, #FFF6E8);
    --btn-hover-bg-color: var(--beige-6, #EAD1AA);
    --btn-color-bg: var(--beige-1, #6D5B3E);
    --btn-color-text: var(--beige-1, #6D5B3E);
    --btn-border-radius:2
}

.primary {
    --btn-border-color: var(--pink-2, #C83A6A);
    --btn-bg-color: var(--pink-5, #FC7DA8);
    --btn-box-shadow-color: var(--pink-6, #FFC9DB);
    --btn-hover-bg-color: var(--pink-3, #F56093);
}

.secondary {
    --btn-border-color: var(--beige-3, #AE8C56);
    --btn-bg-color: var(--beige-6, #EAD1AA);
    --btn-box-shadow-color: var(--beige-9, #FFF6E8);
    --btn-hover-bg-color: var(--beige-5, #DABF97);
}

.secondary2 {
    --btn-border-color: var(--blue-7, #1078FF);
    --btn-bg-color: var(--blue-10, #57C4FF);
    --btn-box-shadow-color: var(--blue-13, #AEE3FF);
    --btn-hover-bg-color: var(--blue-10, #57C4FF);
}
