/* dropdown.module.css */
.dropdown {
    position: relative;
}

.dropdownToggle {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    color: var(--blue-14);
    display: flex;
    gap: 4px;
}

.dropdownToggle span {
    display: flex;
    place-self: center center;
}

.dropdownToggleIcon svg{
    transition: transform 0.3s ease;
}

.dropdownToggleIcon.active svg{
    transform: rotateX(180deg);
}

.dropdownMenuWrapper {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border:none;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
    user-select: none;
}

.dropdownMenuWrapper.open {
    max-height: 200px;
    border: 1px solid #ccc;
}

.dropdownMenu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 1;
    cursor: pointer;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0;
    color: var(--blue-14)
}

.dropdownItem a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: var(--blue-14)
}

.dropdownItem:hover {
    background-color: #f0f0f0;
}
