/* dropdown.module.css */
.dropdown {
    position: relative;
}

.dropdownToggle {
    width: 100%;
    cursor: pointer;
    color: var(--monochrome-1, #FFF);
    gap: 4px;
    display: inline-flex;
    padding: 4px 8px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6px;
    background: var(--purple-4, #552CB8);
}


.dropdownToggle span {
    display: flex;
    place-self: center center;
}

.dropdownToggleIcon svg {
    transition: transform var(--transition-time);
}

.dropdownToggleIcon.active svg {
    transform: rotateX(180deg);
}

.dropdownMenuWrapper {
    margin-top: 12px;
    position: absolute;
    background-color: transparent;
    border: none;
    max-height: 0;
    overflow-y: hidden;
    transition: max-height var(--transition-time);
    user-select: none;
    z-index: 100;
}

.dropdownMenuWrapper.open {
    max-height: 500px;
}

.dropdownMenuWrapper.right {
    right: 0;
}

.dropdownMenuWrapper.left {
    left: 0;
}

.dropdownMenu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    padding: 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    border-radius: 6px;
    border: 2px solid var(--purple-1, #0D0627);
    background: var(--purple-3, #3C159C);
}

.dropdownLi {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.dropdownLi[datatype="active"] {
    cursor: pointer;
}


.dropdownLi a, .dropdownLi p {
    text-decoration: none;
    display: block;
    color: var(--monochrome-1, #FFF);
    white-space: nowrap
}

@media (hover: hover) {
    .dropdownToggle[datatype="active"]:hover {
        border-radius: 6px;
        background: var(--purple-2, #25017D);
    }

    .dropdownLi[datatype="active"]:hover {
        border-radius: 4px;
        background: var(--purple-4, #552CB8);
    }
}

@media (hover: none) {
    .dropdownToggle:active {
        border-radius: 6px;
        background: var(--purple-2, #25017D);
    }

    .dropdownLi:active {
        border-radius: 4px;
        background: var(--purple-4, #552CB8);
    }
}


@media (width <= 767px) {
    .dropdownToggle {
        background: var(--purple-3, #3C159C);
        padding: 8px;
    }

    .dropdownToggleIcon {
        margin-left: auto;
    }

    .dropdownMenuWrapper {
        width: 100%;
    }
}
