.staked-wrapper {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: var(--border-monochrome-10);
    border-radius: 4px;
    background: var(--monochrome-1);
}

.stake-container {
    padding: 12px;
    background: var(--beige-8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}