.container-slider {
    width: 100%;
    max-width: 1038px;
    position: relative;
}

.custom-btn-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    place-content: center center;
    align-items: center;
    padding: 16px;
}

.slick-slide {
    padding: 0 10px;
}
