.container-slider {
    max-width: 1018px;
    padding: 0 42px;
    position: relative;
}

.custom-btn-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    place-content: center center;
    align-items: center;
}

.slick-slide {
    padding-right: 20px;
}
