:root {
    --background-content-color: var(--beige-9, #FFF6E8);
}

.modal_wrap {
    background: rgb(26 23 23 / 60%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_header {
    padding: 10px 8px 10px 16px;
    gap: 16px;
    border: 2px solid var(--monochrome-10, #000);
}

.modal_title {
    margin: 0 0 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: var(--monochrome-10, #000);
}

.modal_content {
    padding: 16px;
    border: 2px solid var(--monochrome-10, #000);
    background: var(--background-content-color);
}
