:root {
    --gap: 12px;
}

.radio-button-group {
    display: flex;
    gap: var(--gap, 12px);
    padding: 10px;
}

.radio-button {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 6px 8px;
    background-color: var(--beige-9, #FFF6E8);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-icon {
    overflow: hidden;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.radio-label {
    user-select: none;
    color: var(--beige-1, #6D5B3E);
}

.custom-radio {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid var(--beige-5, #DABF97);
    border-radius: 50%;
    margin-left: 6px;
}

.custom-radio::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid var(--beige-9, #FFF6E8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all var(--transition-time, 0.3s ease);
}

.custom-radio.checked::after {
    border-color: var(--beige-9, #FFF6E8);
    background-color: var(--beige-1, #6D5B3E);
}
