:root {
    --gap: 12px;
}

.radio-button-group {
    display: flex;
    gap: var(--gap, 12px);
}

.radio-button {
    flex: 1;
    align-items: center;
    background-color: var(--beige-9, #FFF6E8);
    cursor: pointer;
    display: flex;
    gap: 6px;
    padding: 6px 8px;
    position: relative;
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-icon {
    border-radius: 50%;
    height: 16px;
    overflow: hidden;
    width: 16px;
}

.radio-label {
    color: var(--beige-1, #6D5B3E);
    user-select: none;
}

.custom-radio {
    border: 2px solid var(--beige-5, #DABF97);
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    position: relative;
    width: 20px;
}

.custom-radio::after {
    border: 2px solid var(--beige-9, #FFF6E8);
    border-radius: 50%;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    transition: all var(--transition-time, 0.3s ease);
    width: 100%;
    user-select: none;
    pointer-events: none;
}

.custom-radio.checked::after {
    background-color: var(--beige-1, #6D5B3E);
    border-color: var(--beige-9, #FFF6E8);
}
