.footer {
    background-image: url("src/assets/animation/screen5/footer-bg.webp");
    background-size: auto 100%;
    background-position: bottom;
}

.footer-container-w {
    padding-top: 233px;
    padding-bottom: 325px;
    background-image: url("src/assets/animation/screen5/footer-bg.webp");
    z-index: 1;
    background-size: 129%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-animation-w {
    z-index: -1;
    position: absolute;
    bottom: 0;
}

.footer-logo {
    width: 236px;
    height: 102px;
    background-image: url("src/assets/icon/logo.svg");
    background-size: contain;
}

@media (width <= 1024px) {
    .footer {
        background-image: none;
    }

    .footer-container-w {
        padding-top: 193px;
        padding-bottom: 380px;
        background-image: url("src/assets/animation/screen5/BgFooterTablet.webp");
        background-size: cover;
    }
}

@media (width <= 767px) {
    .footer-container-w {
        padding-top: 30vw;
        padding-bottom: 140vw;
        background-image: url("src/assets/animation/screen5/BgFooterMobile.webp");
    }
}