.footer {
    background-image: url("@assets/animation/screen5/footer-bg.webp");
    background-size: auto 102%;
    background-position: bottom;
    overflow: hidden;
}

.footer-container-w {
    padding-top: 233px;
    padding-bottom: 325px;
    background-image: url("@assets/animation/screen5/footer-bg.webp");
    z-index: 1;
    background-size: 127% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-animation-w {
    z-index: -1;
    position: absolute;
    bottom: 0;
}

.footer-logo {
    width: 236px;
    height: 102px;
    background-image: url("@assets/icon/logo.svg");
    background-size: contain;
}

.copy-text-w {
    position: absolute;
    left: 60px;
    bottom: 26px;
    max-width: 320px;
}

@media (width <= 1440px) {
    .footer-container-w {
        padding-top: 15vw;
        padding-bottom: 20vw;
    }

    .copy-text-w {
        left: 40px;
        bottom: 16px;
    }
}

@media (width <= 1024px) {
    .footer {
        background-image: none;
    }

    .footer-animation-w {
        width: 155%;
    }

    .footer-container-w {
        padding-top: 20vw;
        padding-bottom: 35vw;
        background-size: 200% auto;
    }

    .copy-text-w {
        left: 16px;
        bottom: 10px;
        max-width: 205px;
    }
}

@media (width <= 767px) {
    .footer-container-w {
        padding-top: 30vw;
        padding-bottom: 120vw;
        background-image: url("@assets/animation/screen5/BgFooterMobile.webp");
        background-size: 100% auto;
        background-color: var(--blue-1);

    }

    .footer-animation-w {
        width: 100%;
    }
}
