.tab-list {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.tab {
    display: flex;
    flex-direction: row;
    padding: 12px 16px 12px 12px;
    gap: 8px;
    border: 2px solid var(--monochrome-10);
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    background-color: var(--monochrome-3);
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
}

.tab.active {
    background-color: var(--blue-14);
}

.tab-content-wrapper {
    position: relative;
    overflow: hidden;
    min-height: max-content;
    transition: max-height 0.3s ease;
}

.tab-content {
    height: 100%;
    background-color: var(--monochrome-3);
    border: 2px solid var(--monochrome-10);
    border-radius: 0 8px 0 0;
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    padding: 32px 24px;
    inset: 0;
    z-index: 0;
}

.tab-content.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
