.inputWrapper {
    border-radius: 8px;
    border: var(--border-beige-5);
    background-color: var(--monochrome-1);
}

.inputTitleWrapper {
    padding: 8px 16px;
    border-bottom: 1px solid var(--monochrome-10-8);
}

.inputHolder {
    padding: 12px 16px;
}

.staking-form-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--monochrome-5);
    text-align: right;
}

.errorMessage {
    margin-left: auto;
}