.s1-container-w {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 135px 0;
}

.s1-h1-content-w {
    max-width: 362px;
    justify-self: end;
}

.s2-container-w {
    padding-top: 188px;
    padding-bottom: 202px;
    background-image: url("src/assets/bg/s2-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row-slider-container {
    display: flex;
    flex-direction: row;
}

.row-slide-w {
    margin-right: 16px;
    padding: 16px;
    background-color: var(--beige-9);
    position: relative;
    border: 8px solid var(--monochrome-10);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 278px;
    min-width: 278px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 8px;
        border: 2px solid var(--purple-2);
        outline: 6px solid var(--purple-5);
    }
}

.yellow-title-bg {
    background-image: url("src/assets/bg/yellow-bg.svg");
}

.s3-container-w {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-top: 131px;
    padding-bottom: 131px;
}

.s3-tab-w {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 504px;
}

.s3-tab-bottom-panel {
    border-left: var(--border-monochrome-10);
    border-bottom: var(--border-monochrome-10);
    border-right: var(--border-monochrome-10);
    border-radius: 0 0 8px 8px;
    background-color: var(--monochrome-3);
}

.s3-tab-bottom-panel-title-w {
    padding: 4px 16px 6px;
    background: var(--blue-14);
    border-bottom: var(--border-monochrome-10);
}

.s3-animation-w {
    min-width: 50%;
    background-image: url("src/assets/animation/screen2/background.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.s4-section {
    background: #020010 url("src/assets/animation/roadmap/roadmap-bg.webp") no-repeat center;
}

.s4-container-w {
    display: flex;
    flex-direction: column;
    gap: 148px;
    padding-top: 169px;
    padding-bottom: 140px;
}

.s4-title-w {
    background-color: var(--pink-5);
    padding: 16px;
    border-top: var(--border-monochrome-10);
    border-bottom: var(--border-monochrome-10);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;

    h2::after {
        content: 'RoadMAP RoadMAP RoadMAP RoadMAP RoadMAP';
        position: absolute;
        left: calc(100% + 10px);
        text-wrap: nowrap;
        color: var(--pink-2);
    }

    h2::before {
        content: 'RoadMAP RoadMAP RoadMAP RoadMAP RoadMAP';
        position: absolute;
        right: calc(100% + 10px);
        text-wrap: nowrap;
        color: var(--pink-2);
    }
}

.s4-row {
    display: grid;
    grid-template-columns: minmax(300px, min-content) minmax(300px, min-content);
    gap: 55px;
    padding: 0 100px;


    &.s4-row-2 {
        justify-content: flex-end;
    }
}

.s4-card-line-and-planet-w {
    position: absolute;
    z-index: -1;

    &.line-1 {
        top: 24px;
        right: 100%;

        .s4-card-planet-1 {
            width: 231px;
            height: 165px;
            background-image: url("src/assets/animation/roadmap/planet-round-1.webp");
            top: 80%;
            right: 10%;
        }
    }

    &.line-2 {
        bottom: 88px;
        left: 80%;

        .s4-card-planet-2 {
            width: 160px;
            height: 160px;
            background-image: url("src/assets/animation/roadmap/planet-round-2.webp");
            left: 35%;
            bottom: 100%;
        }
    }

    &.line-3 {
        top: 24px;
        right: 100%;

        .s4-card-planet-3 {
            width: 256px;
            height: 256px;
            background-image: url("src/assets/animation/roadmap/planet-round-3.webp");
            top: 100%;
            left: -95%;
        }
    }

    &.line-4 {
        top: -100px;
        left: 209px;

        .s4-card-planet-4 {
            width: 440px;
            height: 440px;
            background-image: url("src/assets/animation/roadmap/planet-round-4.webp");
            left: 45%;
            bottom: 70%;
        }
    }
}


.s4-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}

.s4-card-title {
    padding: 12px 24px;
}

.s4-card-content {
    width: 100%;
    padding: 24px 38px;
    list-style-type: disc;
    color: var(--monochrome-1);
    display: flex;
    flex-direction: column;
    gap: 6px;

    &.round-1 {
        background-color: var(--purple-1);
        border: 1px solid var(--purple-5);
    }

    &.round-2 {
        background-color: var(--pink-1);
        border: 1px solid var(--pink-4);
    }

    &.round-3 {
        background-color: var(--blue-2);
        border: 1px solid var(--blue-11);
    }

    &.round-4 {
        background-color: var(--blue-1);
        border: 1px solid var(--blue-7);
    }
}

.s5-section {
    background-image: url("src/assets/bg/Screen-5-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.s5-container-w {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding-bottom: 170px;
    padding-top: 170px;
}

.s5-features-w {
    width: 100%;
    max-width: 500px;
}

.s5-tokenomic-w {
    width: 100%;
    max-width: 517px;
}

.s5-content-w {
    display: flex;
    flex-direction: column;
    border: var(--border-monochrome-10);
    background: var(--monochrome-3);
}

.s5-title-w {
    padding: 16px;
    border-bottom: var(--border-monochrome-10);
}

.s5-feature-card-w {
    display: flex;
    border-bottom: 2px solid var(--monochrome-4);
}

.s5-list {
    li:last-child {
        border-bottom: none;
    }
}

.s5-feature-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-align: center;
    padding: 16px 20px;
    min-width: 120px;
    border-right: 2px solid var(--monochrome-4);
}

.s5-feature-card-content {
    padding: 16px 28px 16px 20px;
}

.s5-bottom-divider-w {
    padding: 10px;
    border-top: var(--border-monochrome-10);
}

.s5-tokenomiks-w {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 32px;
}

.s5-tokenomiks-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.s6-section {
    background-image: url("src/assets/bg/s6-bg.webp");
    background-color: var(--blue-10);
    background-size: auto 92.5%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.s6-container-w {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 126px;
    padding-bottom: 407px;
}

.s6-animation-w {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.s6-slider-slide{
    border: 2px solid black;
}


.s6-slider-title-w {
    padding: 9px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    white-space:nowrap;
    width: 100%;
}

.s6-slider-title-divider {
    display: flex;
    padding: 1px;
    flex-direction: column;
    gap: 2px;
    white-space: nowrap;
    width: 100%;
}

.s6-slider-title-divider span  {
    background-color: var(--border-color-right-left, #000);
    width: 100%;
    padding: 1px;
}


.s6-slider-content-w {
    padding: 16px 20px 20px 16px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    background-color: var(--monochrome-1);
}

.s7-section {
    background-color: var(--pink-5);
}

.s7-container-w {
    padding-top: 127px;
    padding-bottom: 217px;
    display: flex;
    justify-content: center;
}

.s7-animation-w {
    background-image: url("src/assets/animation/screen4/background.png");
    inset: 0;
    z-index: -1;
}
