.staking-form-w {
    width: 100%;
    max-width: 400px;
    border: var(--border-monochrome-10);
    background: var(--beige-9);
}


.staking-form-timer-w {
    margin-right: 16px;
    flex: 1;
    max-width: 64px;
}

.staking-form-timer-count {
    width: 100%;
    background-color: var(--monochrome-1);
    border: 2px solid var(--beige-3);
    padding: 6px;
    border-radius: 6px;

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        left: calc(100% + 2px);
        background-image: url("@assets/icon/timer-divider.svg");
        display: block;
        height: 16px;
        aspect-ratio: 1/1;
    }
}

.staking-form-timer-collections-w {
    .staking-form-timer-w:last-child {
        margin-right: 0;

        .staking-form-timer-count {
            &::after {
                display: none;
            }
        }
    }
}

.staking-form-price-w {
    background: var(--purple-2);
    border-radius: 8px;
    padding: 12px 16px;
}

.staking-form-indicator-w {
    height: 10px;
    border-radius: 2px;
    background-color: var(--purple-4);
}

.staking-form-input-wrapper {
    display: flex;
    border-radius: 4px;
    padding: 8px 12px;
    background: var(--beige-7);
    border: var(--border-beige-5);
    align-items: center;
    color: var(--beige-2, #967E5A);
}

.staking-form-input {
    background: transparent;
    border: none;
    outline:none;
    width: 100%;
    color: var(--monochrome-10);
}

.staking-form-text-info {
    padding: 0 23px;
}

.staking-form-autorize-window {
    padding: var(--window-padding);
    border: var(--border-beige-5);
    background: var(--beige-7);
    border-radius: 4px;
}

.staking-form-autorize-progress-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: var(--border-monochrome-10);
    max-width: 140px;

    .staking-form-autorize-progress-item:last-child {
        border-right: none;
    }
}

.staking-form-autorize-progress-item {
    height: 12px;
    width: 100%;
    border-right: var(--border-monochrome-10);
    transition: all var(--transition-time, 0.3s ease);
}

.staking-form-error-window {
    padding: var(--window-padding);
    border: var(--border-red-1);
    background: var(--pink-6);
    border-radius: 4px;
}

.staking-form-radio-btn-w {
    border: var(--border-beige-1);


    label {
        border-right: var(--border-beige-1);
    }

    label:last-child {
        border-right: none;
    }
}

.staking-form-second-radio-btn-w {
    border-top: var(--border-beige-1);
}

@media (width <= 767px) {
    .staking-form-timer-w {
        max-width: 53px;
    }
}
